* {
  overflow: hidden;
}
.app {
  /* width: 100vw; */
  height: 100vh auto;
  background-color: black;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.items-center {
  justify-items: center;
}
.flex-col {
  flex-direction: column;
}
input {
  background-color: #023d21;
  color: #1bad71;
  outline: none;
  border: none; 
}
.btn {
  /* width: auto; */
  padding: 3px 8px;
  background-color: #023d21;
  color: #1bad71;
  border-radius: 3px;
  cursor: pointer;
}
.table {
  padding: 5px;
  border: 1px solid #1bad71;
  margin-right: 5px;
}